
{% extends 'base.html' %}
{% block content %}
<h2>News</h2>
{% if user.is_staff %}
<a href="{% url 'admin:index' %}">Admin</a>
<a href="{% url 'admin:blog_post_add' %}">Add post</a>
{% endif %}

<p></p>

{% for bpost in object_list %}
<p><a href="/blog/{{ bpost.id }}/"><u><b style="font-size:large;">{{ bpost.title }}</a></u></b>
<br>{{ bpost.created }}
<br>Author: {{ bpost.author }}
<br>{{ bpost.body|safe|truncatechars:250 }}
&nbsp;<a href="/blog/{{ bpost.id }}/">read more</a></p>
<p></p>
{% empty %}
        <li>No articles yet.</li>
{% endfor %}

{% endblock %}
